<template>
  <div class="row"  style="position:absolute;height:100%;width:100%">
    <div class="col-4 bg-grey-1" @click="focus">
      <q-input
        v-model="input"
        type="textarea"
        autogrow
        borderless
        class="q-pa-md"
        label="Quellcode"
        ref="input"
      />
    </div>
    <div class="col-8">
      <ChordproDocument :content="input" />
    </div>
  </div>
</template>
<script>
import ChordproDocument from '../components/ChordproDocument.vue'

export default {
  components: { ChordproDocument },
  data() {
    return {
      input: `{title: Sunny}
{key: Cm}
{artist:Bobby Hebb}
{tags: jazz}

[Em7] Sunny, [G] yesterday my [C] life was filled with [F#m] rai-[B7]n
[Em7] Sunny, you [G] smiled at me and [C] really eased the [F#m] pai-[B7]n`,
    }
  },
  methods: {
    focus() {
      this.$refs.input.focus()
    }
  }
}
</script>
