v<template>
  <div v-if="isLoading">
  </div>
  <q-page v-else>
    <ChordproDocument v-if="type == 'chordpro'"  :content="content" :path="song.path" :timeModified="song.timeModified" />
    <MarkdownDocument v-else-if="type == 'markdown'" :content="content" />
    <RichDocument v-else-if="type == 'rich'" :fileId="song.hash" />
    <div v-else>
      Das Document konnte nicht gefunden werden
    </div>
  </q-page>
</template>

<script>
import RichDocument from '../components/RichDocument.vue'
import MarkdownDocument from '../components/MarkdownDocument.vue'
import ChordproDocument from '../components/ChordproDocument.vue'

function b64DecodeUnicode(str) {
    // Going backwards: from bytestream, to percent-encoding, to original string.
    return decodeURIComponent(atob(str).split('').map(function(c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
    }).join(''));
}

const STARTSITE_ID = 381973
export default {
  components: { RichDocument, MarkdownDocument, ChordproDocument },
  props: ['songs'],
  data() {
    return {
      content: '',
      isLoading: true
    }
  },
  mounted() {
    this.getContent()
  },
  watch: {
    song(newSong,oldSong) {
      if(newSong && oldSong && newSong.path == oldSong.path) return
      this.content = ''
      this.getContent()
    }
  },
  computed: {
    song() {
      const hash = this.$route.params.hash || STARTSITE_ID
      return this.songs.find(s => s.hash == hash)
    },
    type() {
      if(!this.song) return '404'
      const path = this.song.path
      if(path.match(/\.(odt|doc|docx|xls|xlsx|ods)$/)) return 'rich'
      if(path.match(/\.md$/)) return 'markdown'
      if(path.match(/\.chordpro$/)) return 'chordpro'
      return 'error'
    }
  },
  methods: {
    async getContent() {
      if(!this.song) return ''
      if(this.type == 'rich') {
        this.isLoading = false;
        return
      }
      this.isLoading = true
      const path = this.song.path
      if(this.song.isNextcloud) {
        const res = await this.$axios(`https://cloud.livingutopia.org/liederbuch.php?filename=${encodeURIComponent(this.song.path)}`)

        if(path !== this.song.path) {
          return // song has changed
        }
        this.content = res.data
      } else {
        const res = await this.$axios(`https://gitlab.com/api/v4/projects/19703432/repository/files/`+encodeURIComponent('songs/'+this.song.path)+'?ref=main', {
          headers: {
            'PRIVATE-TOKEN':'Y6BsjbjLcxnwty-znAN3'
          }
        })
        if(path !== this.song.path) {
          return // song has changed
        }
        this.content = b64DecodeUnicode(res.data.content)
      }
      this.isLoading = false
    }
  }
}
</script>
