<template>
    <div :class="['chord-sheet', 'columns-'+columns]">
        <div v-for="(paragraph, i) in song.paragraphs" :key="i" v-if="paragraph.lines.length" :class="paragraphClasses(paragraph)">
          <!-- {{ paragraph }} -->
          <div v-if="shouldPrintVerseHeader(i)" class="header">VERSE</div>
          <div v-if="shouldPrintChorusHeader(i)" class="header">CHORUS</div>
          <template v-for="(line, i) in paragraph.lines">
            <table v-if="shouldRenderLine(line)" :key="i" :class="lineClasses(line)">

              <!-- Chords -->
              <tr v-if="hasChordContents(line)">
                <template v-for="(item, i) in line.items">
                  <td v-if="isChordLyricsPair(item)" :key="i" class="chord">
                    <span v-html="formatChord(item.chords)" />
                  </td>
                </template>
              </tr>


              <!-- Text -->
              <tr v-if="hasTextContents(line)">
                <template v-for="(item, i) in line.items">
                  <td v-if="isChordLyricsPair(item)" :key="i" class="lyrics">
                    {{item.lyrics}}
                  </td>
                  <td v-if="isTag(item) && isComment(item)" :key="i" class="comment">
                    {{item.value}}
                  </td>
                </template>
              </tr>
           </table>
          </template>
        </div>
    </div>
</template>
<script>
import { INDETERMINATE, NONE } from 'chordsheetjs/lib/constants';
import { hasChordContents, hasTextContents } from 'chordsheetjs/lib/utilities';
import ChordLyricsPair from 'chordsheetjs/lib/chord_sheet/chord_lyrics_pair';
import Tag from 'chordsheetjs/lib/chord_sheet/tag';
const lineHasContents = (line) => line.items.some((item) => item.isRenderable());

export default {
  props: ['song'],
  computed: {
    columns() {
      if(this.song.metaData?.columns) return this.song.metaData?.columns
      else return 1;
    }
  },
  methods: {
    paragraphClasses(paragraph) {
      const classes = ['paragraph'];

      if (paragraph.type !== INDETERMINATE && paragraph.type !== NONE) {
        classes.push(paragraph.type);
      }

      return classes
    },
    lineClasses(line) {
      const classes = []//['row'];

      if (!lineHasContents(line)) {
        classes.push('empty-line');
      }

      return classes;
    },
    shouldRenderLine(line) {
      // if (options.data.root.renderBlankLines) {
      //   return true;
      // }
      return lineHasContents(line);
    },
    isChordLyricsPair: (item) => item instanceof ChordLyricsPair,
    isTag: (item) => item instanceof Tag,
    isComment: (item) => item.name === 'comment',
    hasChordContents: hasChordContents,
    hasTextContents: hasTextContents,

    formatChord(chord) {
      // https://github.com/reverentgeek/charter/blob/2f3e03c31b475f11b3f460d866df91224911b09b/src/html.js#L16
      if(!chord) return chord;


      if ( chord.length <= 1 || chord === "N.C." ) {
        return chord;
      }
      const chords = chord.split( "/" );
      const formatted = chords.map( c => {
        if(c[0].match(/[a-g]/)) c = c[0].toUpperCase()+c.slice(1); // always uppercase note
        let [ note, ...parts ] = c.split( /(^[b#]{0,1}[A-G1-7]{1}[#b]{0,1}(?:maj|dim|sus|m){0,1})/g ).filter( p => p.length > 0 );
        return parts.length > 0 ? `${ note }<sup>${ parts.join( "" ) }</sup>` : note;
      } );
      return formatted.length > 1 ? formatted.join( "/" ) : formatted[0];
    },
    shouldPrintVerseHeader(index) {
      const paragraph = this.song.paragraphs[index]
      if(paragraph.type != 'verse') return false
      if(index == 0) return false

      // previous paragraph already with a header?
      const prev = this.song.paragraphs[index-1]
      if(prev.type == 'verse') return false

      // if(paragraph.lines && paragraph.lines[0].isVerse()) return true
      // else return false
      return true
    },
    shouldPrintChorusHeader(index) {
      const paragraph = this.song.paragraphs[index]
      if(paragraph.type != 'chorus') return false
      if(index == 0) return false

      // previous paragraph already with a header?
      const prev = this.song.paragraphs[index-1]
      if(prev.type == 'chorus') return false

      // if(paragraph.lines && paragraph.lines[0].isVerse()) return true
      // else return false
      return true
    }
  }
}
</script>
<style lang="scss">
.chord-sheet {
  line-height: 1.2em;
  font-size: 1.2em;
  @media (max-width: 800px)  {
    font-size: 1em;
  }
  @media print {
    font-size: 0.9em;
  }

  .chord {
    font-weight: bold;
  }
  td {
    padding-right: 0.3em;
    margin: 0;
    padding: 0;
  }
  .paragraph {
    padding-top: 0.8em;
    padding-bottom: 0.6em;
    padding-left: 0.5em;
    @media (max-width: 800px)  {
      padding-left: 0;
    }
  }
  .chorus {
    border-left: 2px solid #000;
    padding-left: 15px;
    margin-left: -10px;
    @media (max-width: 800px)  {
      padding-left: 8px;
      margin-left: -13px;
    }
  }
  .header {
      font-weight: bold;
      font-size: 1.1em;
      // margin-top: 0.2em;
      margin-bottom: 0.2em;
  }
  .comment {
      font-weight: bold;
      font-size: 1.1em;
    // font-style: italic;
    // padding-left: 0.5em;
    // opacity: 0.8;
  }
}

.chord-sheet.columns-3 {
  column-count: 3;
  column-fill: balance;
}

</style>
