<template>
  <div class="flex flex-center">
    <div>
      <div class="charter-header q-px-md">
        <div class="charter-header-text">
          <h1 class="charter-title">
            {{ song.title }}
            <Tag v-for="tag in tags" :key="tag" :name="tag" :removable="false" />
          </h1>
          <div v-if="song.subtitle">{{ song.subtitle }}</div>
          <div v-for="artist in artists" :key="artist" class="charter-artist" >{{ artist }}</div>
          <div class="charter-key">{{ keyLine }}</div>
        </div>
        <div class="charter-header-logo">
            <!-- <a href="https://gitlab.com">
              <i class="material-icons">edit</i>
            </a> -->
          <!-- <img class="charter-logo" src="./assets/logo.jpg"> -->
        </div>
      </div>
      <div class="q-pa-md">
        <ChordSheetJSVue :song="song" />
      </div>
      <div class="buttons">
          <q-btn icon="print" flat @click="print()">
              <q-tooltip>Drucken</q-tooltip>
          </q-btn>
          <q-btn v-if="path" icon="edit" type="a" flat :href="editLink" target="__blank">
              <q-tooltip>Bearbeiten</q-tooltip>
          </q-btn>
      </div>
      <div class="footer">freiesliederbuch.de | {{ date }}</div>
    </div>
  </div>

</template>
<script>
import Tag from './Tag.vue'
import ChordSheetJSVue from './ChordSheetJS.vue'

// ======
// allow some more meta tags
import { META_TAGS } from 'chordsheetjs/lib/chord_sheet/tag';
META_TAGS.push('tags', 'columns')
// ======


import ChordSheetJS from 'chordsheetjs';
const parser = new ChordSheetJS.ChordProParser();

function prependZero(d) {
  return d < 10 ? '0'+d : d.toString()
}

export default {
  components: { Tag, ChordSheetJSVue },
  props: ['content',  'path', 'timeModified'],
  data() {
    return {
      isLoading: true,
      errors: []
    }
  },
  computed: {
    song() {
      if(!this.content) return {}
      try {
        const res = parser.parse(this.content);
        this.warnings = parser.warnings
        return res
      } catch(err) {
        console.error(err)
        this.errors = [err]
        return {}
      }
    },
    tags() {
      let tags = [];
      if(this.song?.metaData?.tags) {
        for(let tag of this.song.metaData.tags.split(',')) {
          tag = tag.trim().toLowerCase()
          if(!tags.includes(tag)) tags.push(tag)
        }
      }
      return tags
    },
    artists() {
      if(Array.isArray(this.song.artist)) {
        return this.song.artist
      } else {
        return [this.song.artist]
      }
    },
    keyLine() {
      let keyLine = []
      if ( this.song.capo ) {
        keyLine.push( `Capo: ${ this.song.capo }` );
      }
      if ( this.song.key ) {
        keyLine.push( `Key: ${ this.song.key }` );
      }
      if ( this.song.tempo ) {
        keyLine.push( `Tempo: ${ this.song.tempo }` );
      }
      if ( this.song.time ) {
        keyLine.push( `Time: ${ this.song.time }` );
      }
      return keyLine.join(' | ')
    },
    date() {
      const d = new Date(this.timeModified)
      return d.getFullYear()+'-'+prependZero(d.getMonth()+1)+'-'+prependZero(d.getDate())
    },
    editLink() {
      return `https://gitlab.com/alangecker/freiesliederbuch/-/blob/main/songs/${this.path}`
    }
  },
  watch: {
    song(song) {
      if(song && song.title) {
        document.title = song.title + ' | Freies Liederbuch'
      } else {
        document.title = 'Freies Liederbuch'
      }
    }
  },
  methods: {
    print() {
      window.print()
    }
  }
}
</script>
<style lang="scss">


.charter-header {
  position: relative;
  min-height: 65px;
  margin-top: 4em;
  h1 {
    line-height: 1.2em;
  }
}
.charter-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.charter-logo {
  text-align: right;
}
.charter-artist,
.charter-subtitle,
.charter-key {
  font-weight: normal;
  margin: 0 0 3px 0;
  padding: 0;
}
.charter-artist {
  font-size: 0.9em;
}
.charter-subtitle {
  font-size: 0.9em;
}
.charter-key {
  font-weight: bold;
  font-size: 0.9em;
}
.charter-header-logo {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
}
.charter-header::after {
  content: "";
  clear: both;
  display: table;
}
.charter-logo {
  height: 70px;
}

.charter-title {
  .q-chip {
    height: 1.1em;
  }
  .q-chip__content {
    font-size: 0.75em;
  }
}
.buttons {
    position: fixed;
    top: 0;
    right: 0;
}
.footer {
  display: none;
}

@media (max-width: 800px)  {
  .buttons {
    display: none;
  }
}

@media print {
  @page { margin: .7cm; }
  body { margin: 0; }
  .charter-header { margin: 0; }
  .charter-body {
    column-count: 2;
    column-fill: balance;
  }
  .buttons {
    visibility: hidden;
  }
  .footer {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    font-size: 0.8em;
  }
}


</style>
