<template>
  <div  class="flex flex-center">
    <div v-html="body" class="q-pa-md markdown-doc" style="max-width: 900px">
    </div>
  </div>
</template>
<script>
import MarkdownIt from 'markdown-it'
const md = MarkdownIt('commonmark', { html: false, breaks: false })
	.enable('strikethrough')

export default {
  props: ['content'],
  data() {
    return {
      isLoading: true
    }
  },
  computed: {
    body() {
      return md.render(this.content)
    }
  }
}
</script>
<style lang="scss">
.markdown-doc {
  h1 {
    line-height: 1.5em;
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.3em;
  }
}
</style>
