<template>
  <iframe v-if="link" :src="link">
  </iframe>
  <div v-else  class="flex flex-center loading" >
    <q-spinner size="xl" />
  </div>
</template>
<script>
import axios from 'axios'
export default {
  props: [ 'fileId' ],
  data() {
    return {
      link: null
    }
  },
  mounted() {
    this.getLink()
  },
  watch: {
    '$route'(a) {
      this.getLink()
    }
  },
  methods: {
    async getLink() {
      this.link = null
      const res = await axios.get('https://cloud.livingutopia.org/liederbuch.php?fileid='+this.fileId)
      this.link = res.data
      // console.log(res)
    }
  }
}
</script>
<style scoped>
iframe, .loading {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0;
}
</style>
