<template>
  <q-item clickable v-ripple dense :to="{name:'song', params: {hash: song.hash, slug: song.slug}}">
    <div class="q-item__section column q-item__section--main justify-center">
      <div class="q-item__label ellipsis">
        {{ song.title }}
        <small v-if="song.artist" class="light">{{ song.artist }}</small>
        <q-tooltip>
          <Tag v-for="tag in song.tags" :key="tag" :name="tag" :removable="false" />
        </q-tooltip>
      </div>
    </div>
    <div v-if="showDate || showDate === ''" class="q-item__section column q-item__section--top q-item__section--side justify-center">
      <div class="q-item__label q-item__label--caption text-caption">{{ timeDiff }}</div>
    </div>
  </q-item>
</template>

<script>
import Tag from './Tag.vue'

export default {
  components: { Tag },
  props: ['song', 'show-date'],
  computed: {
    timeDiff() {
      const now = new Date
      const diff = (now - this.song.timeModified) / 1000

      if(diff < 22*3600) {
        return 'heute'
      } else if(diff < 2*24*3600) {
        return 'gestern'
      } else {
        const days = Math.round(diff/86400)
        return `vor ${days} Tagen`
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.light {
  opacity: 0.5;
  color: black;
}
</style>
