<template>
  <q-chip
    v-if="removable || removable === ''"
    dense
    :style="style"
    :removable="removable"
    @remove="$emit('remove')">
      {{ name }}
  </q-chip>
  <div v-else class="q-chip row inline no-wrap items-center q-chip--dense" :style="style">
    <div class="q-chip__content col row no-wrap items-center q-anchor--skip">
        {{ name }}
    </div>
  </div>
</template>
<script>
export default {
  props: [
    'name',
    'removable',
    'dense'
  ],
  computed: {
    textcolor() {
        return 'white'
    },
    bgcolor() {
        // https://stackoverflow.com/questions/3426404/create-a-hexadecimal-colour-based-on-a-string-with-javascript/16348977#16348977
        var hash = 0;
        for (var i = 0; i < this.name.length; i++) {
          hash = this.name.charCodeAt(i) + ((hash << 5) - hash);
        }
        var colour = '#';
        for (var i = 0; i < 3; i++) {
          var value = (hash >> (i * 8)) & 0xFF;
          colour += ('00' + value.toString(16)).substr(-2);
        }
        return colour;
    },
    style() {
      let style = `margin-right:0;background-color:${this.bgcolor};color:${this.textcolor}`;
      if(this.dense || this.dense === '') {
        style += ';font-size:0.8em;margin-bottom:0'
      }
      return style
    }
  }
}
</script>
