<template>
  <div v-if="error">

    <q-banner class="text-white bg-red">
      <b>Error:</b> {{error}}
    </q-banner>

  </div>
  <div v-else-if="isLoading" class="text-center text-light-green" style="padding-top:2%">
    <q-spinner-hourglass color="light-green" size="10em" />
    <div style="font-weight: 600">Loading...</div>
  </div>
  <div id="q-app" v-else>
    <router-view :songs="songs" :tags="tags" />
  </div>
</template>

<script>

function slugify(str) {
  return str
    .replace(/ /g, '-')
    .toLowerCase()
    .replace(/ä/g, 'ae')
    .replace(/ü/g, 'ue')
    .replace(/ö/g, 'oe')
    .replace(/[^a-zäüöáúíó0-9_\-\+]/g, '')
    .replace(/--+/g, '-')
    .replace(/(^-|-$)/g, '')
}

function xmur3(str) {
    for(var i = 0, h = 1779033703 ^ str.length; i < str.length; i++)
        h = Math.imul(h ^ str.charCodeAt(i), 3432918353),
        h = h << 13 | h >>> 19;
    return function() {
        h = Math.imul(h ^ h >>> 16, 2246822507);
        h = Math.imul(h ^ h >>> 13, 3266489909);
        return (h ^= h >>> 16) >>> 0;
    }
}


export default {
  name: 'App',
  data() {
    return {
      songs: [],
      isLoading: true,
      error: null
    }
  },
  computed: {
    tags() {
      const tags = {}
      for(let song of this.songs) {
        if(!song.tags) continue
        for(let tag of song.tags) {
          if(!tag.trim()) continue
          tags[tag] = true
        }
      }
      return Object.keys(tags)
    }
  },
  async mounted() {
    try {
      await Promise.all([
        this.getGitlabData(),
        this.getNextcloudData()
      ])
    } catch(err) {
      this.error = err.message
    }
    this.isLoading = false
  },
  methods: {
    async getNextcloudData() {
      const res = await this.$axios('https://cloud.livingutopia.org/liederbuch.php')

      for(let s of res.data) {
        const title = s.name.replace(/\.[a-z0-9]{2,4}$/, '')
        this.songs.push({
          title: title,
          artist: '',
          path: s.name,
          hash: s.id.toString(),
          slug: slugify(title),
          tags: s.tags,
          isNextcloud: true
        })
      }
    },
    async getGitlabData() {
      const res = await this.$axios('https://gitlab.com/api/v4/projects/19703432/jobs/artifacts/main/raw/index.json?job=test', {
        headers: {
          'PRIVATE-TOKEN':'Y6BsjbjLcxnwty-znAN3'
        }
      })

      for(let s of res.data) {
        const hash = xmur3(s.path);
        s.hash = hash().toString(16)
        s.slug = slugify(s.title)
        s.timeModified = Date.parse(s.timeModified)
        this.songs.push(s)
      }
    }
  }
}
</script>
