<template>
  <q-layout view="lHh Lpr lFf">
    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-grey-1"
      style="overflow:hidden"
    >
      <div class="menu-button-open">
        <q-btn
            flat
            dense
            icon="menu_open"
            aria-label="Menu"
            class="bg-white"
            @click="leftDrawerOpen = !leftDrawerOpen"
          >
          <q-tooltip anchor="center right" self="center middle" :offset="[60,0]">Menü schließen</q-tooltip>
        </q-btn>
      </div>
      <Sidebar :songs="songs" :tags="tags" />
    </q-drawer>

    <q-page-container>
      <router-view :songs="songs"/>
    </q-page-container>

    <div class="menu-button-closed">
      <q-btn
          flat
          dense
          icon="menu"
          aria-label="Menu"
          label="Menu"
          no-caps
          class="bg-white"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
    </div>
  </q-layout>
</template>

<script>
import Sidebar from 'components/Sidebar'

export default {
  name: 'MainLayout',
  props: ['songs', 'tags'],
  components: {
    Sidebar
  },

  data () {
    return {
      leftDrawerOpen: true
    }
  }
}
</script>
<style lang="scss">
@media print {
    .q-drawer {
      visibility: hidden;
    }
    .q-page-container {
      padding-left: 0 !important;
      padding-top: 3em;
    }
    .menu-button-closed {
      visibility: hidden;
    }
}
.menu-button-closed {
  position: fixed;
  // left: 40px;
  top: 0;
}
.menu-button-open {
  text-align: right;
  width: 100%;
  position: absolute;
  right: -40px;
}
</style>
